* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: aquamarine;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
}


.notepad {
    background-color: pink;
    display: flex;
    flex-wrap: wrap;
}

.notepad>div {
    border: 1px solid black;
    aspect-ratio: 1/1;
}

.options {
    background-color: green;
    width: inherit;
    height: 100px;
}