* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --accent-color: rgb(52, 152, 219);
    --lightest-gray: rgb(249, 249, 249);
    --light-gray: rgb(144, 144, 144);
    --medium-gray: rgb(96, 96, 96);
    --dark-gray: rgb(13, 13, 13);
    --header-height: 40px;
    --animation-duration: 200ms;
    --animation-timing-curve: ease-in-out;
}

/* body {
    background-color: aquamarine;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
} */

.container {
    display: flex;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.notepad {
    background-color: #f0f0f0;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid #333;
}

.notepad>div {
    border: 1px solid black;
    aspect-ratio: 1/1;
}

.options {
    background-color: green;
    width: 800px;
    height: 100px;
}

/* Sidebar styles */
.header {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.4);
    height: var(--header-height);
    padding: 0 0.5rem;
}

.menu-icon-btn {
    background: none;
    border: none;
    padding: 0;
}
.material-icons.menu-icon {
    font-size: 24px;
    color: var(--medium-gray);
    cursor: pointer;
    transition: ease-in 0.2s;
}
.material-icons.menu-icon:hover {
    color: var(--dark-gray);
}

.sidebar {
    width: 75px;
    /* overflow-x: hidden; */
    position: relative;
    height: calc(100vh - var(--header-height));
    border-right: 1px solid var(--light-gray);
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    padding: 1rem 0;
    transition: width var(--animation-duration) var(--animation-timing-curve);
}

.sidebar .top-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30px;
    margin-bottom: 36px;
    transition: height var(--animation-duration) var(--animation-timing-curve);
}

.sidebar.open .top-sidebar {
    height: 125px;
}

.sidebar .top-sidebar .hidden-sidebar {
    text-align: center;
    width: 100%;
}

.sidebar .hidden-sidebar {
    opacity: 0;
    width: 0;
    transition: opacity var(--animation-duration) var(--animation-timing-curve);
}

.sidebar.open .hidden-sidebar {
    width: 100%;
    height: auto;
    opacity: 1;
}

.sidebar .project-logo {
    width: 30px;
    height: 30px;
    transition: var(--animation-timing-curve) var(--animation-timing-curve);
}
.sidebar .project-logo > img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.sidebar.open .project-logo {
    width: 100px;
    height: 100px;
}

.middle-sidebar,
.bottom-sidebar {
    width: 100%;
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
}

.content {
    display: flex;
    margin: 0 3rem;
}

.sidebar-list {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
}

.sidebar-list-item {
    width: 100%;
    position: relative;
    list-style: none;
}

.sidebar-list-item.active .sidebar-link  {
    color: var(--accent-color);
    background-color: var(--lightest-gray);
}

.sidebar-list-item.active::before {
    content: "";
    background-color: var(--accent-color);
    height: 100%;
    left: 0;
    width: 4px;
    position: absolute;
}

.sidebar-link {
    width: 100%;
    position: relative;
    padding: 0.5rem 0;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--light-gray);
    cursor: pointer;
}

.sidebar-link a {
    text-decoration: none;
    color: var(--light-gray);
    cursor: pointer;
}

.sidebar.open .sidebar-link {
    justify-content: start;
    padding-left: 1rem;
}

.sidebar-icon {
    font-size: 24px;
    cursor: pointer;
}

.sidebar.open .sidebar-link-text {
    display: block;
}

.sidebar .sidebar-link-text {
    display: none;
}

.sidebar.open {
    width: 248px;
}

.sidebar.open .sidebar-link {
    gap: 24px;
}

.project-header {
    color: var(--dark-gray);
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.15rem;
    margin-top: 1rem;
}

.project-name {
    color: var(--medium-gray);
    font-size: 1rem;
}

.color-picker {
    display: none;
}

.color-picker.active-color {
    display: block;
    position: absolute;
    top: 20%;
    left: 100%;
    margin-left: 24px;
    z-index: 999;
    background-color: #fefefe;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.4);
    padding: 1rem 2rem;
    border-radius: 8px;
}

.color-picker-container {
    display: flex;
    justify-content: center;
    align-items: center;
}