* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --lightest-gray: rgb(249, 249, 249);
    --light-gray: rgb(144, 144, 144);
    --medium-gray: rgb(96, 96, 96);
    --dark-gray: rgb(13, 13, 13);
    --header-height: 40px;
}

/* body {
    background-color: aquamarine;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
} */

.container {
    display: flex;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.notepad {
    background-color: pink;
    display: flex;
    flex-wrap: wrap;
}

.notepad>div {
    border: 1px solid black;
    aspect-ratio: 1/1;
}

.options {
    background-color: green;
    width: 800px;
    height: 100px;
}

/* Sidebar styles */
.header {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.4);
    height: var(--header-height);
    padding: 0 0.5rem;
    margin-bottom: 1rem;
}

.menu-icon-btn {
    background: none;
    border: none;
    padding: 0;
}
.material-icons.menu-icon {
    font-size: 24px;
    color: var(--medium-gray);
    cursor: pointer;
    transition: ease-in 0.2s;
}
.material-icons.menu-icon:hover {
    color: var(--dark-gray);
}

.sidebar.open {

}

.sidebar {
    overflow-x: hidden;
    /* width: 50px; */
    height: calc(100vh - var(--header-height));
    border-right: 1px solid var(--light-gray);
    margin-top: -1rem;
    padding: 1rem;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
}

.middle-sidebar {
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
}

.top-sidebar img {
    width: 100px;
    height: auto;
}

.content {
    display: flex;
    margin: 0 3rem;
}